/* iframe style */
div.iframe-link {
position: relative;
float: left;
width: 100%;
height: 100%;
margin: 0 1em 1em 0;

}

/* If in mobile screen with maximum width 479px. The iPhone screen resolution is 320x480 px (except iPhone4, 640x960) */    
@media only screen and (max-width: 479px){
    div.iframe-link  { 
width: 90%;


    }

}
/* link on iframe experimental style not used in plugin! */
a.iframe-link {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: red;
opacity: 0.001;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
/*z-index: -1; */

}


/* Horizontal iframe style for horizontal pdf documents */
.gulscias{
position: relative;
float: left;
width: 100%;
height: 365px;
margin: 0 1em 1em 0;

}

/*  Zoom button style   */
.didinti{
padding: 5px 5px;
font-size: 15px;
background: grey;

}







